<table>
    <tr>
        <td></td>
        <td><img [ngClass]="value.p1 ? 'on' : 'off'" src="../assets/H.png" alt=""></td>
        <td></td>
    </tr>
    <tr>
        <td><img [ngClass]="value.p2 ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
        <td></td>
        <td><img [ngClass]="value.p3 ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
    </tr>
    <tr>
        <td></td>
        <td><img [ngClass]="value.p4 ? 'on' : 'off'" src="../assets/H.png" alt=""></td>
        <td></td>
    </tr>
    <tr>
        <td><img [ngClass]="value.p5 ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
        <td></td>
        <td><img [ngClass]="value.p6 ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
    </tr>
    <tr>
        <td></td>
        <td><img [ngClass]="value.p7 ? 'on' : 'off'" src="../assets/H.png" alt=""></td>
        <td></td>
    </tr>
</table>