<table>
    <tr>
        <td></td>
        <td><img [ngClass]="value.p1.includes(digit) ? 'on' : 'off'" src="../assets/H.png" alt=""></td>
        <td></td>
    </tr>
    <tr>
        <td><img [ngClass]="value.p2.includes(digit) ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
        <td></td>
        <td><img [ngClass]="value.p3.includes(digit) ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
    </tr>
    <tr>
        <td></td>
        <td><img [ngClass]="value.p4.includes(digit) ? 'on' : 'off'" src="../assets/H.png" alt=""></td>
        <td></td>
    </tr>
    <tr>
        <td><img [ngClass]="value.p5.includes(digit) ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
        <td></td>
        <td><img [ngClass]="value.p6.includes(digit) ? 'on' : 'off'" src="../assets/V.png" alt=""></td>
    </tr>
    <tr>
        <td></td>
        <td><img [ngClass]="value.p7.includes(digit) ? 'on' : 'off'" src="../assets/H.png" alt=""></td>
        <td></td>
    </tr>
</table>